@model TeddyMVC.Models.FacturaViewModel
@{
    Layout = "_PdfLayout"; // Usar el layout específico para el PDF
}
<!-- Otros elementos del head -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
    /* Contenedor de la tabla */
    .table-container {
        table-layout: fixed;
        font-size: 10pt;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        border-collapse: collapse;
    }

    /* Columnas */
    .col-22 {
        width: 5px;
    }

    .col-205 {
        width: 205px;
    }

    .col-157 {
        width: 157px;
    }

    .col-126 {
        width: 226px;
    }

    .col-220 {
        width: 150px;
    }

    /* Filas */
    .row-height-39 {
        height: 39px;
    }

    .row-height-9 {
        height: 9px;
    }

    .row-height-20 {
        height: 20px;
    }

    .row-height-17 {
        height: 27px;
    }

    .row-height-29 {
        height: 39px;
    }

    .row-height-8 {
        height: 8px;
    }

    .row-height-32 {
        height: 32px;
    }

    .row-height-33 {
        height: 33px;
        
    }

    .row-height-15 {
        height: 15px;
    }

    .row-height-28 {
        height: 28px;
    }

    .row-height-44 {
        height: 44px;
    }

    .row-height-10 {
        height: 10px;
    }

    .row-height-52 {
        height: 52px;
    }

    /* Encabezado */
    .header {
        border-bottom: 1px solid #4472c4;
        font-family: 'Roboto', sans-serif;
        font-size: 16pt;
        font-weight: bold;
        color: #4472c4;
    }

    /* Celdas */
    .cell {
        overflow: hidden;
        padding: 0px 10px;
        vertical-align: middle;
    }

    .italic {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-style: italic;
    }

    .bold-blue {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: #4472c4;
    }

    .center-text {
        text-align: center;
    }

    .right-text {
        text-align: right;
    }

    .bg-light-blue {
        background-color: #cfe2f3;
    }

    .bg-light-gray {
        background-color: #c9daf8;
    }

    /* Total */
    .total {
        font-family: 'Roboto', sans-serif;
        font-size: 18pt;
        font-weight: normal;
        text-align: center;
    }

    /* Comentarios */
    .comment {
        font-family: 'Roboto', sans-serif;
        font-size: 11pt;
        font-weight: bold;
        color: #4472c4;
        text-align: right;
        margin-bottom: 1rem;
    }

    /* Pie de página */
    .footer {
        margin-top: 1rem;
        font-family: 'Roboto', sans-serif;
        font-size: 10pt;
        color: #5d7079;
        text-align: center;
    }

    .img-container {
        display: block;
       float: right;
        margin: 10px 0;
    }

    .img {
        width: 50px;
    }

    .subtitle
    {
        font-weight: bold;
        color: #a09e9e;
    }

    .footer-bold {
        font-weight: bold;
    }
</style>

<table class="table-container">
    <div class="img-container">
        <img class="img" src="~/img/logo-transparent.png" alt="Logo" />
    </div>
    
    <colgroup>
        <col class="col-22" />
        <col class="col-205" />
        <col class="col-157" />
        <col class="col-126" />
        <col class="col-220" />
    </colgroup>
    
    <tbody>
        <tr class="">
            <td class="cell"></td>
            <td class="cell subtitle">Docente</td>
            <td class="cell "></td>
            <td class="cell subtitle" colspan="2">Alumno</td>
        </tr>
        <tr class="row-height-39">
            <td class="cell"></td>
            <td class="cell header">Fabiana Seggiaro</td>
            <td class="cell header"></td>
            <td class="cell header" colspan="2">@Model.Alumno.Nombre @Model.Alumno.Apellido</td>
        </tr>
        <tr class="row-height-9">
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-20">
            <td class="cell"></td>
            <td class="cell italic">Dirección: Gabarret 1824</td>
            <td class="cell"></td>
            <td class="cell italic">Dirección: @Model.Alumno.Domicilio</td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-20">
            <td class="cell"></td>
            <td class="cell italic">Ciudad: Esperanza, Santa Fe.</td>
            <td class="cell"></td>
            <td class="cell italic">Ciudad: @Model.Alumno.Ciudad</td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-20">
            <td class="cell"></td>
            <td class="cell italic">Dni: 1598546</td>
            <td class="cell"></td>
            <td class="cell italic">Dni: @Model.Alumno.DNI</td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-20">
            <td class="cell"></td>
            <td class="cell italic">Email: fseggiaro16@gmail.com</td>
            <td class="cell"></td>
            <td class="cell italic">Email:</td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-17">
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-29">
            <td class="cell"></td>
            <td class="cell bold-blue">Clases</td>
            <td class="cell bold-blue center-text">Horas</td>
            <td class="cell bold-blue right-text">Precio Unitario</td>
            <td class="cell bold-blue center-text">Precio</td>
        </tr>
        <tr class="row-height-8">
            <td class="cell"></td>
            <td class="cell" colspan="4"></td>
        </tr>
        @foreach (var (turno, index) in Model.Turnos.Select((turno, index) => (turno, index)))
        {
            <tr class="row-height-32">
                <td class="cell"></td>
                <td class="cell factura-row bg-light-blue">Clase @(index + 1) - @turno.Fecha.ToShortDateString()</td>
                <td class="cell factura-row bg-light-blue center-text">@turno.Horas</td>
                <td class="cell factura-row bg-light-blue right-text">@turno.PrecioHora.ToString("C")</td>
                <td class="cell factura-row bg-light-blue center-text">@((turno.Horas * turno.PrecioHora).ToString("C"))</td>
            </tr>
        }
        <tr class="row-height-15">
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-32">
            <td class="cell"></td>
            <td class="cell bold-blue">Comentarios</td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-28">
            <td class="cell"></td>
            <td class="cell bg-light-gray" colspan="2"></td>
            <td class="cell comment">TOTAL</td>
            <td class="cell total">$@Model.Total</td>
        </tr>
        <tr class="row-height-44">
            <td class="cell"></td>
            <td class="cell bg-light-gray" colspan="2"></td>
            <td class="cell"></td>
            <td class="cell"></td>
        </tr>
        <tr class="row-height-10">
            <td colspan="5"></td>
        </tr>
        <tr class="row-height-52">
            <td class="cell"></td>
            <td class="cell footer bg-light-gray" colspan="4">
                Fabiana Seggiaro - Lic. en Cs Sociales y Humanidades<br />
                <span class="footer-bold">Tel: 3496652675</span> |
                <span class="footer-bold">Banco: Santander Rio | Alias: ITALIA.RAMA.CAMBIO</span> |
                <span class="footer-bold">Mail: fseggiaro16@gmail.com</span>
            </td>
        </tr>
    </tbody>
</table>
