@model IEnumerable<TeddyMVC.Models.Turno>

@{
    ViewData["Title"] = "Turnos";
}

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["AlertMessage"] != null)
{
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        Swal.fire({
            title: '¡Éxito!',
            text: '@TempData["AlertMessage"]',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        });
    });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="my-4">Turnos</h2>
            <p>
                <a onclick="showInPopup('@Url.Action("Create", "Turnos", new { id = 0 }, Context.Request.Scheme)' ,'CLASES')" class="btn btn-sm btn-primary text-white">
                    <i class="oi oi-plus"></i> Agregar un turno
                </a>
                <a href="@Url.Action("Index", "Historial")" class="btn btn-sm btn-secondary text-white">
                    <i class="oi oi-folder"></i> Ver Historial
                </a>
            </p>
            <div class="card">
                <div class="card-header text-center">
                    <h5>Lista de Turnos</h5>
                </div>
                <div class="card-body">
                    <table id="evento" class="table table-hover table-responsive table-stripped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                                <th>Alumno</th>
                                <th>@Html.DisplayNameFor(model => model.Horas)</th>
                                <th>@Html.DisplayNameFor(model => model.PrecioHora)</th>
                                <th>@Html.DisplayNameFor(model => model.Asignatura)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-success"><strong>@Html.DisplayFor(modelItem => item.Fecha)</strong></td>
                                    <td>@item.Alumno.Nombre @item.Alumno.Apellido</td>
                                    <td>@Html.DisplayFor(modelItem => item.Horas)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PrecioHora)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Asignatura)</td>
                                    <td>
                                        <button data-id="@item.Id" class="btn btn-outline-success btn-sm markAsPaidItem" data-bs-toggle="modal" data-bs-target="#paidDialog">
                                            <i class="oi oi-dollar"></i> Pagar
                                        </button>
                                        <a onclick="showInPopup('@Url.Action("Edit", "Turnos", new { id = item.Id }, Context.Request.Scheme)' , '')" class="btn btn-outline-warning btn-sm">
                                            <i class="oi oi-pencil"></i> Editar
                                        </a>
                                        <button data-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                            <i class="oi oi-trash"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />
<partial name="_ModalPagar" />

@section Scripts {
    <script src="~/js/showmodal.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#evento').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
            });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Turnos/Delete/', false);
    </script>

    <script>
        sc_markAsPaidDialog.openModal('markAsPaidItem', true, 'btnYesMarkAsPaid', '/Turnos/MarcarPagado/', false);
    </script>
}
